In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd

Working with percentile rank with
## Simple Dataset

In [3]:
df_heights = pd.read_csv('/content/drive/MyDrive/ml_practice/feature_engineering/percentile_rank/heights.csv')
df_heights.head()

    name  height
0  mohan     5.9
1  maria     5.2
2  sakib     5.1
3    tao     5.5
4  virat     4.9

In [5]:
min_threshold = df_heights['height'].quantile(0.05)
min_threshold

np.float64(3.6050000000000004)

In [6]:
max_threshold = df_heights['height'].quantile(0.95)
max_threshold

np.float64(9.689999999999998)

In [10]:
df_heights[df_heights['height']<min_threshold]

      name  height
12  yoseph     1.2

In [11]:
df_heights[df_heights['height']>max_threshold]

    name  height
9  imran    14.5

In [14]:
df_heights[(df_heights['height']>min_threshold) & (df_heights['height']<max_threshold)]

       name  height
0     mohan     5.9
1     maria     5.2
2     sakib     5.1
3       tao     5.5
4     virat     4.9
5    khusbu     5.4
6    dmitry     6.2
7    selena     6.5
8      john     7.1
10     jose     6.1
11  deepika     5.6
13    binod     5.5

Working with percentile rank with
## Complex Dataset

In [4]:
df_prices = pd.read_csv('/content/drive/MyDrive/ml_practice/feature_engineering/percentile_rank/bhp.csv')
df_prices.head()

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250

In [6]:
df_prices.shape

(13200, 7)

In [8]:
df_prices.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13200.000000  13200.000000  13200.000000  13200.000000    1.320000e+04
mean    1555.302783      2.691136    112.276178      2.800833    7.920337e+03
std     1237.323445      1.338915    149.175995      1.292843    1.067272e+05
min        1.000000      1.000000      8.000000      1.000000    2.670000e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.267000e+03
50%     1275.000000      2.000000     71.850000      3.000000    5.438000e+03
75%     1672.000000      3.000000    120.000000      3.000000    7.317000e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

In [9]:
min_threshold, max_threshold = df_prices['price_per_sqft'].quantile([0.001, 0.999])
min_threshold, max_threshold

(1366.184, 50959.36200000098)

Below shown data can be legitimate sometimes but those are also outliers to our data causing issue in data analysis process thats why removing data is better.
Here we have used one of outlier detection method called as Percentile rank using quantile()

In [10]:
df_prices[df_prices['price_per_sqft']<min_threshold]

        location       size  total_sqft  bath  price  bhk  price_per_sqft
665    Yelahanka      3 BHK     35000.0   3.0  130.0    3             371
798        other  4 Bedroom     10961.0   4.0   80.0    4             729
1867       other  3 Bedroom     52272.0   2.0  140.0    3             267
2392       other  4 Bedroom      2000.0   3.0   25.0    4            1250
3934       other      1 BHK      1500.0   1.0   19.5    1            1300
5343       other      9 BHK     42000.0   8.0  175.0    9             416
5417      Ulsoor      4 BHK     36000.0   4.0  450.0    4            1250
5597    JP Nagar      2 BHK      1100.0   1.0   15.0    2            1363
7166   Yelahanka  1 Bedroom     26136.0   1.0  150.0    1             573
7862    JP Nagar      3 BHK     20000.0   3.0  175.0    3             875
8300     Kengeri      1 BHK      1200.0   1.0   14.0    1            1166
9144       other  4 Bedroom     10961.0   4.0   80.0    4             729
11635      Begur      3 BHK      2400.0   3.0   12.0    3             500
12355      other      4 BHK     16335.0   4.0  149.0    4             912

In [11]:
df_prices[df_prices['price_per_sqft']>max_threshold]

,location,size,total_sqft,bath,price,bhk,price_per_sqft
345,other,3 Bedroom,11.0,3.0,74.0,3,672727
1005,other,1 BHK,15.0,1.0,30.0,1,200000
1106,other,5 Bedroom,24.0,2.0,150.0,5,625000
4044,Sarjapur Road,4 Bedroom,1.0,4.0,120.0,4,12000000
4924,other,7 BHK,5.0,7.0,115.0,7,2300000
5911,Mysore Road,1 Bedroom,45.0,1.0,23.0,1,51111
6356,Bommenahalli,4 Bedroom,2940.0,3.0,2250.0,4,76530
7012,other,1 BHK,650.0,1.0,500.0,1,76923
7575,other,1 BHK,425.0,1.0,750.0,1,176470
7799,other,4 BHK,2000.0,3.0,1063.0,4,53150
8307,Bannerghatta Road,5 BHK,2500.0,4.0,1400.0,5,56000
9436,Indira Nagar,4 Bedroom,2400.0,5.0,1250.0,4,52083
11447,Whitefield,4 Bedroom,60.0,4.0,218.0,4,363333
12328,other,4 Bedroom,4350.0,8.0,2600.0,4,59770

In [12]:
df2 = df_prices[(df_prices['price_per_sqft']>min_threshold) & (df_prices['price_per_sqft']<max_threshold)]
df2.head()

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250

Removed some of the outliers

In [14]:
df2.shape

(13172, 7)

To print some random rows

In [15]:
df2.sample(10)

,location,size,total_sqft,bath,price,bhk,price_per_sqft
2357,Sector 7 HSR Layout,3 BHK,1760.0,3.0,145.00,3,8238
4756,Ramamurthy Nagar,4 BHK,2560.0,4.0,75.00,4,2929
12469,Mico Layout,2 BHK,1140.0,2.0,43.00,2,3771
685,other,2 BHK,1240.0,2.0,60.00,2,4838
4292,Electronic City,3 BHK,1225.0,3.0,45.03,3,3675
4682,Thigalarapalya,3 BHK,2215.0,4.0,156.00,3,7042
12956,Hebbal,3 BHK,2250.0,3.0,219.00,3,9733
11866,other,2 BHK,893.0,2.0,34.50,2,3863
8606,other,2 BHK,1394.0,2.0,52.00,2,3730
696,Hennur Road,3 Bedroom,2264.0,3.0,159.00,3,7022

## Exercise

In [16]:
df_ny = pd.read_csv('/content/drive/MyDrive/ml_practice/feature_engineering/percentile_rank/AB_NYC_2019.csv')
df_ny.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [23]:
df_ny.shape

(48895, 16)

In [24]:
df_ny.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,4.889500e+04,4.889500e+04,48895.000000,48895.000000,48895.000000,48895.000000,48895.000000,38843.000000,48895.000000,48895.000000
mean,1.901714e+07,6.762001e+07,40.728949,-73.952170,152.720687,7.029962,23.274466,1.373221,7.143982,112.781327
std,1.098311e+07,7.861097e+07,0.054530,0.046157,240.154170,20.510550,44.550582,1.680442,32.952519,131.622289
min,2.539000e+03,2.438000e+03,40.499790,-74.244420,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,9.471945e+06,7.822033e+06,40.690100,-73.983070,69.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,1.967728e+07,3.079382e+07,40.723070,-73.955680,106.000000,3.000000,5.000000,0.720000,1.000000,45.000000
75%,2.915218e+07,1.074344e+08,40.763115,-73.936275,175.000000,5.000000,24.000000,2.020000,2.000000,227.000000
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

In [32]:
min_threshold, max_threshold = df_ny['price'].quantile([0.1, 0.9998])
min_threshold, max_threshold

(49.0, 7500.0)

In [33]:
df2_ny = df_ny[(df_ny['price']>min_threshold)&(df_ny['price']<max_threshold)]
df2_ny.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [34]:
df2.shape

(13172, 7)

In [35]:
df2.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13172.000000  13172.000000  13172.000000  13172.000000    13172.000000
mean    1537.861049      2.690100    111.591865      2.799651     6663.653735
std      967.123711      1.337026    145.372047      1.291130     4141.020700
min      250.000000      1.000000      8.000000      1.000000     1379.000000
25%     1100.000000      2.000000     50.000000      2.000000     4271.000000
50%     1274.500000      2.000000     71.550000      3.000000     5438.000000
75%     1670.000000      3.000000    120.000000      3.000000     7311.000000
max    30400.000000     40.000000   3600.000000     43.000000    50349.000000