In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [23]:
import pandas as pd

In [37]:
df = pd.read_csv('/content/drive/MyDrive/ml_practice/naive_bayes/titanic.csv')
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

Taking only required columns needed for dataset

In [38]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns', inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

Dropping target column for input dataframe

In [39]:
input = df.drop(['Survived'], axis='columns')
target = df['Survived']
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

Creating dummy varibales for text columns

In [40]:
dummies = pd.get_dummies(input.Sex, dtype=int)
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

Merging the dummy variables with original column and dropping the text columns as machine learning algorithms can't perform with text data

In [41]:
input = pd.concat([input,dummies],axis='columns')
input.head()

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0
3       1  female  35.0  53.1000       1     0
4       3    male  35.0   8.0500       0     1

In [43]:
input = input.drop(['Sex'], axis='columns')
input.head()

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0
3       1  35.0  53.1000       1     0
4       3  35.0   8.0500       0     1

Checking if there is any NaN values

In [44]:
input.columns[input.isna().any()]

Index(['Age'], dtype='object')

In [45]:
input['Age'] = input['Age'].fillna(input['Age'].mean())
input.head()

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0
3       1  35.0  53.1000       1     0
4       3  35.0   8.0500       0     1

In [46]:
target.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [47]:
from sklearn.model_selection import train_test_split

In [48]:
X_train, X_test, y_train, y_test = train_test_split(input, target, test_size=0.25)

There are 3 types in Navie Bayes:
- Bernoulli Naive Bayes - used when features are binary
- Multinomial Naive Bayes - when features are count or frequencies
- Gaussian Naive Bayes - when features are normally distributed.

In [49]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [50]:
model.fit(X_train, y_train)

GaussianNB()

In [51]:
model.predict(X_test)

array([1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1,
       1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1,
       0, 1, 0])

In [52]:
model.score(X_test, y_test)

0.7982062780269058

In [54]:
model.classes_

array([0, 1])

In [53]:
model.predict_proba(X_test[:10])

array([[0.0648206 , 0.9351794 ],
       [0.97471858, 0.02528142],
       [0.00179863, 0.99820137],
       [0.02676396, 0.97323604],
       [0.97922039, 0.02077961],
       [0.06164518, 0.93835482],
       [0.79030174, 0.20969826],
       [0.06525299, 0.93474701],
       [0.88522043, 0.11477957],
       [0.98776469, 0.01223531]])

In [55]:
from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(), X_train, y_train, cv=5)

array([0.7761194 , 0.73880597, 0.79104478, 0.76691729, 0.81954887])